@media screen and (min-width: 1024px) {

    .intro {
        margin: -1.5%;
    }

    .Fonctionnement {
        display:flex;
        flex-direction: column;
    } 

    .step {
        display: flex;
        flex-direction: row;
        background: white;
        margin-left: 4%;
    }

    .step div {
        margin-right: 12px;
    }

    .intro form {
        padding: 15px;
    }

    .intro #explorer button {
        width: 20%;
    }

    .intro h3 {
        display: flex;
        justify-content: center;
        font-size: 23px;
    }

    .Fonctionnement {
        width: 85%;
        margin-left: 5%;
        margin-top: 5%;
    }

    .Fonctionnement h2 {
        margin-left: 4%;
    }

    .Fonctionnement button {
        justify-content: center;
        margin-left: 3%;
        margin-top: 15px;
    }

    .Resto {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        background: #F7F7F7;
        margin: 0;
    }


    .Resto h2 {
        width: 100%;
        margin-left: 8%;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .Resto .card {
        width: 35%;
    }

    .Resto .card h2 {
        margin-left: 0;
    }

    /*FOOTER*/

    footer {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        flex-direction: row-reverse;
    }

    footer h1 {
        flex:1;
        text-align: right;
        font-size: 1.2em;
    }

    footer ul {
        display: flex;
        justify-content: flex-end;
        flex: 6;
    }

    footer li {
        margin-right: 1em;
    }

    footer i {
        margin-right: 5px;
    }

    

}