@media (min-width: 768px) and (max-width: 1023px) {

    header h1 {
        flex:5;
        text-align: center;
    }

    main {
        width:100%;
        margin-left: 0;
    }
    
    .intro {
        margin: -1.5%;
    }

    .Fonctionnement {
        margin-top: 5%;
        margin: 2%;
    }

    .Resto {
        margin: 2%;
        width: 96%;
    }

    footer h1 {
        width:100%;
        text-align: center;
    }

    footer ul {
        text-align: center;
    }

    article {
        width: 50vw;
    }
}